<head>
  <title>Registration</title>
</head> 
<div  class="analogbody text-center">  
    <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Registration</h1>
    
    <label for="firstName" class="sr-only">First Name</label>
    <input type="text"  formControlName="firstName"  id="firstName" class="form-control I_T" placeholder="First Name" required autofocus>
    
    <label for="lastName" class="sr-only">Last Name</label>
    <input type="text"  formControlName="lastName"  id="lastName" class="form-control I_C" placeholder="Last Name" required >
    
    <label for="inputEmail" class="sr-only " >Email address</label>
    <input type="email"  formControlName="email"  id="inputEmail" class="form-control I_C" placeholder="Email address" required >
    
    <label for="inputPassword" class="sr-only ">Password</label>
    <input type="password"  formControlName="password" id="inputPassword" class="form-control I_B" placeholder="Password" required>
    
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>  
    </div> 
    <button class="btn btn-lg btn-primary btn-block"type="submit" >Sign Up</button>
    <div style="
    text-align: left;
    display: flex;
"><a style="  
    margin-left: 2rem;
    margin-right: auto;
    margin-top: 0;
    "
    routerLink="/"
    >To back</a>
<a style="
    margin-left: auto;
    margin-right: 2rem;
    margin-top: 0;
    "
    routerLink="/Auth/login"
    >Sing In</a></div>
    <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
  </form>
</div>
